<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ 'Task Manager'|trans }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {%  endblock %}
</head>
<body>

<!-- Header -->
<header class="bg-light shadow-sm">
    <nav class="container navbar navbar-expand-lg navbar-light">
        {% if app.user %}
            <a class="navbar-brand" href="{{ path('task_swimlines') }}">{{ 'Task Manager'|trans }}</a>
        {% else %}
            <a class="navbar-brand" href="{{ path('home_index') }}">{{ 'Task Manager'|trans }}</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('task_list') }}">{{ 'Lista zadań'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('task_create') }}">{{ 'Nowe zadanie'|trans }}</a></li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-link">Witaj, {{ app.user.email }}</li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">{{ 'Wyloguj'|trans }}</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">{{ 'Zaloguj'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<!-- Główna zawartość -->
<main class="container my-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}

    {% endblock %}
</main>


<!-- Stopka -->
<footer class="bg-dark text-white text-center py-4 mt-auto">
    <div class="container">
        <p class="mb-0">&copy; 2025 Moja Strona. Wszelkie prawa zastrzeżone.</p>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

</body>
</html>
